@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Navbar
nav.bg-dark {
  background-color: #383838 !important;
}

// Home page-parallax scrolling
body,
html {
  height: 100%;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // remove effect
  // fixed = parallax   scroll = normal
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("/img/bbimage.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("/img/olymap.jpg");
  min-height: 600px;
}
.pimg3 {
  background-image: url("/img/trees.jpg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-primary {
  background-color: lighten($color: $primary, $amount: 5%);
}
.section-secondary {
  background-color: $secondary;
}
.section-success {
  background-color: lighten($color: $success, $amount: 15%);
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  padding: 20px;
  border: none !important;
}
@media (max-width: 991px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}
