<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <h3 class="text-muted">Olympic Bed & Breakfast</h3>
    <p class="text-muted">Copright &copy; Erica VanNorman
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
    </p>
  </div>
</footer>
</body>
</html>