<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>Bed and Breakfast | Olympic Pennisula</title>
  </head>
  <body class="container bg-info">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <img
            src="img/logo.png"
            alt=""
            width="150"
            height="150"
            class="align-middle"
          />
          Olympic B&B
        </a>
      </div>
    </nav>
    <h1>Welcome to the home page!</h1>
  </body>
</html>
