<%- include("partials/header"); -%>
<div class="pimg1">
  <div class="ptext">
    <span class="border"> Olympic Bed & Breakfast </span>
  </div>
</div>

<section class="section section-primary">
  <div class="container">
    <h2>In the Moody Heart of the Olympic Rainforest</h2>
    <p>
      Olympic Bed & Breakfast is located in the Olympic National Forest several
      miles southwest of Lake Crescent, tucked into the breathtaking temperate
      rainforest. We offer several types of rentals, including those that can be
      reached via a small hike from our main building. With all of the nature
      around you, you won't have to look far for the luxury comforts you'd
      expect from our four-star establishment.
    </p>
    <button type="button" class="btn btn-dark">Book Now</button>
  </div>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border"> Second Image </span>
  </div>
</div>

<section class="section section-secondary">
  <div class="container">
    <h2>Section Two</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
      tempora eum adipisci aliquid asperiores illo labore molestiae impedit
      architecto est error vero id blanditiis ipsum quae ratione aut in! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Deleniti quaerat
      voluptas nulla incidunt expedita accusamus sed dolor magni, maiores
      blanditiis nobis ex ducimus error voluptates quos delectus explicabo dicta
      tenetur.
    </p>
  </div>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border"> Third Image </span>
  </div>
</div>

<section class="section section-success">
  <div class="container">
    <h2>Section Three</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
      tempora eum adipisci aliquid asperiores illo labore molestiae impedit
      architecto est error vero id blanditiis ipsum quae ratione aut in!
    </p>
  </div>
</section>

<%- include("partials/footer"); -%>
