<%- include("partials/header"); -%>
<div class="pimg1">
  <div class="ptext">
    <span class="border"> Olympic Bed & Breakfast </span>
  </div>
</div>

<section class="section section-primary">
  <div class="container">
    <h2>In the Moody Heart of the Olympic Rainforest</h2>
    <p>
      Olympic Bed & Breakfast is located in the Olympic National Forest several
      miles southwest of Lake Crescent, tucked into the breathtaking temperate
      rainforest. We offer several types of rentals, including those that can be
      reached via a small hike from our main building. With all of the nature
      around you, you won't have to look far for the luxury comforts you'd
      expect from our four-star establishment.
    </p>
    <button type="button" class="btn btn-dark btn-lg">Book Now</button>
    <p>
      This historic building, originally constructed in 1870, once belonged to a
      brave farmer who traveled from the eastern shores of this continent to
      this far west point. This gentleman, and his family, began to clearout and
      work this land as soon as they arrived. However, the more time the family
      spent in the rainforest, the more they fell in love with their new home.
      Their stewardship of this land after their arrival is why you'll also be
      left wanting more when you visit our historic main grounds.
    </p>
    <p>
      Our main building, which stands at a sprawling 10,000 square feet, is not
      the original floorplan. The original main living area caught fire in the
      1930s and forced the building into an abandoned state. In 1945, new owners
      renovated the main building and opened the first bed and breakfast at this
      location! The building houses two kitchens, two indoor and one outdoor
      dining room, and the Garden and Venetian rooms.
    </p>
    <p>
      You can find the Carriage Lofts, suites, and the rest of our rooms
      throughout the rest of our property.
    </p>
  </div>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border"> Rooms & Suites </span>
  </div>
</div>

<section class="section section-secondary">
  <div class="container">
    <h2>Section Two</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
      tempora eum adipisci aliquid asperiores illo labore molestiae impedit
      architecto est error vero id blanditiis ipsum quae ratione aut in! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Deleniti quaerat
      voluptas nulla incidunt expedita accusamus sed dolor magni, maiores
      blanditiis nobis ex ducimus error voluptates quos delectus explicabo dicta
      tenetur.
    </p>
  </div>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border"> Third Image </span>
  </div>
</div>

<section class="section section-success">
  <div class="container">
    <h2>Section Three</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
      tempora eum adipisci aliquid asperiores illo labore molestiae impedit
      architecto est error vero id blanditiis ipsum quae ratione aut in!
    </p>
  </div>
</section>

<%- include("partials/footer"); -%>
