<%- include("partials/header"); -%>
<div class="pimg1">
  <div class="ptext">
    <span class="border"> Olympic Bed & Breakfast </span>
  </div>
</div>

<section class="section section-primary">
  <h2>Section One</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
    tempora eum adipisci aliquid asperiores illo labore molestiae impedit
    architecto est error vero id blanditiis ipsum quae ratione aut in!
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border"> Second Image </span>
  </div>
</div>

<section class="section section-secondary">
  <h2>Section Two</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
    tempora eum adipisci aliquid asperiores illo labore molestiae impedit
    architecto est error vero id blanditiis ipsum quae ratione aut in! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Deleniti quaerat voluptas
    nulla incidunt expedita accusamus sed dolor magni, maiores blanditiis nobis
    ex ducimus error voluptates quos delectus explicabo dicta tenetur.
  </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border"> Third Image </span>
  </div>
</div>

<section class="section section-success">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sed,
    tempora eum adipisci aliquid asperiores illo labore molestiae impedit
    architecto est error vero id blanditiis ipsum quae ratione aut in!
  </p>
</section>

<%- include("partials/footer"); -%>
